.task-container{
    width: 500px;
    min-height: 65px;
    background-color: #f0d895;
    margin: 5px 0;
    padding:8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.task-text{
    width: 100%;
    height:100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: everywhere;
}

.task-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin:5px;
}

.task-container.completed{
    background-color: #ccc;
    text-decoration: line-through;
    border: 1px solid #e8c57c;
}