.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.todo-list-main{
  width:600px;
  min-height: 500px;
  background-color: #ffffc5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 30px;
}

h1{
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px 0;
}
